{% extends "base.html" %}

{% block title %}Book Places for {{ competition.name }}{% endblock %}

{% block content %}
    <h2>Book places for {{ competition.name }}</h2>
    <p><strong>{{ club.name }}</strong> | Points available: {{ club.points }}</p>
    <p>Places available in competition: {{ competition.numberOfPlaces }}</p>

    <form action="{{ url_for('purchase_places') }}" method="post">
        <input type="hidden" name="club" value="{{ club.name }}">
        <input type="hidden" name="competition" value="{{ competition.name }}">

        <label for="places">How many places to book?</label>
        <input type="number" name="places" id="places" min="1" max="12" required>

        <button type="submit">Book</button>
    </form>
    <hr>
    <a href="{{ url_for('index') }}">Cancel and go back</a>
{% endblock %}
