<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summary | GUDLFT Registration</title>
</head>
<body>
    <a href="{{ url_for('logout') }}">Logout</a>

    <h2>Welcome, {{ club.name }}!</h2>
    <p>Points available: <strong>{{ club.points }}</strong></p>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <hr>

    <h3>Upcoming Competitions:</h3>
    <ul>
        {% for comp in competitions %}
        <li>
            <h4>{{ comp.name }}</h4>
            <p>Date: {{ comp.date }}</p>
            <p>Places Available: {{ comp.numberOfPlaces }}</p>
            
            {% if comp.numberOfPlaces|int > 0 %}
                <a href="{{ url_for('book', competition=comp.name, club=club.name) }}">Book Places</a>
            {% else %}
                <p>No places left.</p>
            {% endif %}
        </li>
        <hr />
        {% endfor %}
    </ul>

</body>
</html>