{% extends "base.html" %}

{% block title %}Welcome, {{ club.name }}!{% endblock %}

{% block content %}
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <h2>Welcome, {{ club.name }}!</h2>
        <a href="{{ url_for('logout') }}">Logout</a>
    </div>
    <p>Points available: <strong>{{ club.points }}</strong></p>
    <hr>

    <h3>Competitions</h3>
    <ul>
        {% for comp in competitions %}
        <li>
            <h4>{{ comp.name }}</h4>
            <p>Date: {{ comp.date }}</p>
            <p>Places Available: {{ comp.numberOfPlaces }}</p>

            {% if datetime.strptime(comp.date, '%Y-%m-%d %H:%M:%S') > datetime.now() and comp.numberOfPlaces|int > 0 %}
                <a href="{{ url_for('book', competition=comp.name, club=club.name) }}">Book Places</a>
            {% else %}
                <p><strong>Booking closed</strong></p>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
{% endblock %}
